/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FONTS */
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Semibold.woff') format('woff'),
        url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.woff2') format('woff2'),
        url('../fonts/MyriadPro-Bold.woff') format('woff'),
        url('../fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@color-1: #da251d;
// @color-1: green;

.theme{
	&_color{
		&-1{
			&.theme-border{
				border-color: @color-1;
			}
			&.theme-text{
				color: @color-1;
			}
			&.theme-bg-color{
				background-color: @color-1;
			}
		}
	}
}

html{
	width: 100%;
	min-height: 100%;
}
body{
	width: 100%;
	min-height: 100%;
	font-size: 14px;
	font-family: 'Myriad Pro';

	background-image: url('../img/aaron-burden-398672-unsplash.jpg');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;

}
a{
	text-decoration: none;
	&:hover{

	}
}
button{
	background-color: transparent;
	border: none;
	outline: none;
	-webkit-appearance: none;
	&:hover{
		cursor: pointer;
	}
}
.btn{
	color: #fff;
	background-color: red;
	border-radius: 5.25rem;
}
.bold{
	font-weight: 700;
}
.uppercase{
	text-transform: uppercase;
}

.flex{
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: -ms-flexbox; /* ie 10 */
  display:-webkit-flex;
  display: flex;
  &_j{
    &-c{
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    &-fe{
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      -o-justify-content: flex-end;
      -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
      justify-content: flex-end;
    }
    &-fs{
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      -o-justify-content: flex-start;
      -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
    }
    &-sb{
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      -webkit-box-pack: space-between;
      -ms-flex-pack: justify; /* ie 10 */
      justify-content: space-between;
    }
  }
  &_ai{
    &-c{
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align:center; /* ie 10 */
      align-items: center;
    }
    &-fs{
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align:flex-start; /* ie 10 */
      align-items: flex-start;
    }
    &-fe{
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      -o-align-items: flex-end;
      -webkit-box-align: flex-end;
      -ms-flex-align:flex-end; /* ie 10 */
      align-items: flex-end;
    }
    &-st{
      -webkit-align-items: stretch;
      -moz-align-items: stretch;
      -ms-align-items: stretch;
      -o-align-items: stretch;
      -webkit-box-align: stretch;
      -ms-flex-align:stretch;
      align-items: stretch;
    }
  }
  &_dir{
    &-col{
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      -webkit-box-orient: vertical; /*ie10*/
      flex-direction: column;
    }
    &-colrev{
      -webkit-flex-direction: column-reverse;
      -moz-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      -o-flex-direction: column-reverse;
      -webkit-box-orient: vertical; /*ie10*/
      -webkit-box-direction: reverse;
      flex-direction: column-reverse;
    }
  }
}

h1{
	font-size: 3em;
	font-weight: 700;
}

.main-container{
	width: 100%;
	height: 100%;
	background-color: #fff;
	max-width: 992px;
	margin: 0 auto;
  box-sizing: border-box;

	padding-top: 50px;
	padding-bottom: 30px;
	// padding-left: 4%;
	// padding-right: 4%;
	padding-left: 55px;
	padding-right: 55px;
}

.main-header{
  padding: 0 7.5%;
}
.main-content{
  padding: 0 7.5%;
  margin-top: 60px;
  margin-bottom: 30px;
}
.pre-footer{
  padding: 0 7.5%;
  margin-bottom: 10px;
  &_container{
  	text-align: right;
  }
  &_logo{
  	width: 23%;
  	height: auto;
  	margin-right: 3%;
  }
}
.main-footer{
	border-top: 3px solid red;
	// padding: 20px 15px;
	padding: 20px;
	a{ 
		display: block;
	}
	&_icon{
		display: inline-block;
		width: 12px;
		height: auto;
		margin-right: 3px;
		img{
			display: block;
			width: 100%;
			height: auto;
			max-height: 100%;
		}
		+*{
			vertical-align: top;
		}
	}
	&_text{
		color: #000;
		font-size: .8em;
		margin-bottom: 3px;
		font-weight: 700;
	}
	&_block{
		&-1{
			width: 20%;
			img{
				width: 100%;
				height: auto;
				max-height: 100%;
			}
		}
		&-2{
			width: 36%;
			margin-top: 20px;
			padding-left: 8%;
		}
		&-3{
			width: 22%;
			margin-top: 20px;
		}
		&-4{
			width: 22%;
			margin-top: 20px;
			padding-left: 17px;
			position: relative;
		}
		&-link-map{
			margin-top: 9px;
		}
		&-phone{
			&-2{
				padding-left: 17px;
			}
		}
		&-email{
			margin-top: 9px;
		}
		&-workhours{
			&-icon{
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		&-socials{
			margin-top: 10px;
		}
	}
}
.operator-block{
	&_left{
		img{
			width: 100px;
			height: auto;
			border-radius: 100%;
			overflow: hidden;
		}
	}
	&_right{
		>*{
			font-size: .8571em
		}
		&-name{
			margin-top: 20px;
		}
	}
}
.socials-block{
	li{
		display: inline-block;
		&:first-child{
			a{
				margin-left: 0;
			}
		}
		a{
			display: block;
			width: 20px;
			height: 20px;
			margin: 0 5px;

			background-size: 100% 100%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&_fb{
		a{
			background-image: url(../img/fb.svg);
		}
	}
	&_insta{
		a{
			background-image: url(../img/instagram.svg);
		}
	}
	&_vk{
		a{
			background-image: url(../img/vk.svg);
		}
	}
	&_ok{
		a{
			background-image: url(../img/odnoklasniki.svg);
		}
	}
}
.tour-logo-block{
	width: 33.3333%;
	img{
		max-width: 100%;
		max-height: 100%;
		width: 100%;
	}
}
.single-tour{
	padding: 18px 0;
	margin-bottom: 34px;
		-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
	        box-shadow: 0 8px 6px -6px rgba(0,0,0,.5);
	&_img{
		width: 25%;
		height: auto;
		position: relative;
		&-bg{
			position: absolute;
			width: 100%;
			top: -18px;
	    bottom: -18px;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	&_text-container{
		width: 45%;
		.price-container_rating{
			display: none;
		}
	}
	&_price-container{
		.price-container_rating{
			display: block;
		}
	}
}
.text-container{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
	padding-left: 20px;
	border-right: 2px solid red;
	&_title{
		font-size: 1em;
	}
	&_subtitle{
		font-size: .7857em
	}
	&_info-block{
		margin-top: 25px;
	}
}
.info-block{
	&_left{
		display: inline-block;
		padding: 5px 20px 10px 10px;
		// border-right: 1px solid red;
		&-inner{
			position: relative;
		}
	}
	&_right{
		display: inline-block;
		padding-left: 15px;

    max-width: 265px;
    -webkit-flex-grow: 1;
		flex-grow: 1;
		&-top{
			float: left;
			margin-bottom: 15px;
			&-left{
				float: left;
				// padding: 0 24px 0 36px;
				padding-left: 29px;
				position: relative;
				box-sizing: border-box;
				display: inline-block;
				// width: 50%;
				width: 119px;
				text-align: center;
				margin-right: 11px;
			}
			&-right{
				float: left;
				// padding: 0 40px 0 17px;
				// padding-right: 20px;
				padding-left: 29px;
				position: relative;
				box-sizing: border-box;
				display: inline-block;
				// width: 50%;
				width: 119px;
				text-align: center;
			}
		}
		&-bottom{
			clear: both;
			font-size: .7em;
			&-left{
				width: 50%;
				img{
					display: block;
					width: 30px;
					height: 30px;
					margin-right: 8px;
				}
			}
			&-right{
				width: 50%;
				img{
					display: block;
					width: 30px;
					height: 30px;
					margin-right: 8px;
				}
			}
		}
	}
	&_amount{
		// display: inline-block;
		font-size: 2.5em;
		text-align: center;
		&-text{
			// display: inline-block;
			font-size: .8em;
			text-align: center;
		}
	}
	&_clock-icon{
		width: 10px;
		height: 10px;
		position: absolute;
    right: -13px;
    top: 5px;
	}
	&_day{
		font-size: .7em;
	}
	&_date{
		font-size: .7em;
	}
	&_detail{
		font-size: .65em;
	}
	&_bg-img{
		position: absolute;
		top: 0;
		img{
	    width: 29px;
    	margin-top: 6px;	
		}
	}
	.bg-img{
		&_left{
			left: 0;
		}
		&_right{
			// right:0;
			left: 0;
		}
	}
}
.price-container{
	padding-right: 15px;
	&_rating{
		img{
			width: 28px;
    	height: 28px;
		}
		&-txt{
			display: inline-block;
			&-top{
				font-size: .5em;
			}
			&-number{
				font-size: 1.4em;
			}
		}
	}
	&_price{
		white-space: nowrap;
		&-input{
			text-align: right;
	    border: none;
	    width: auto;
	    outline: none;
	    /* do not group these rules */
	    font-family: 'Myriad Pro';
	    font-size: 1.9em;
	    font-weight: 700;
			&::-webkit-input-placeholder {
			    color: #000;
			    font-size: 1em;
			    font-weight: 700;
			}
			&:-moz-placeholder {
			    /* FF 4-18 */
			    color: #000;
			    font-size: 1em;
			    font-weight: 700;
			}
			&::-moz-placeholder {
			    /* FF 19+ */
			    color: #000;
			    font-size: 1em;
			    font-weight: 700;
			}
			&:-ms-input-placeholder {
			    /* IE 10+ */
			    color: #000;
			    font-size: 1em;
			    font-weight: 700;
			}
		}
		&-currency{
			font-size: 1.2em;
		}
		&-btn{
			font-size: .7em;
			font-weight: 700;
			padding: 9px 20px;
		}
	}
}
.single-tour_img-badge{
	position: absolute;
	top: -18px;
  left: 0;
  background-size: 100% 100%;
  z-index: 10;
  width: 111px;
  height: 111px;
}
.badge-recommend{
	.single-tour_img-badge{
		background-image: url(../img/badge-recommend.png);
	}
}
.badge-deny{
	.single-tour_img-badge{
		background-image: url(../img/badge-deny.png);
	}
}
.badge-hot{
	.single-tour_img-badge{
		background-image: url(../img/badge-hot.png);
	}
}

@media screen and (max-width: 1000px){
	.main-container{
		padding-left: 0;
		padding-right: 0;
	}
}

@media screen and (max-width: 900px){
	.main-header{
	  padding: 0 30px;
	}
	.main-content{
	  padding: 0 30px;
	}
	.pre-footer{
	  padding: 0 30px;
	}
	.single-tour{
		&_img{
			width: 20%;
		}
		&_text-container{
			width: 48%;
		}
	}
}
@media screen and (max-width: 769px){
	body{
		font-size: 18px;
	}
	.xs{
		&_flex{
		  -webkit-display: flex;
		  -moz-display: flex;
		  -ms-display: flex;
		  -o-display: flex;
		  display: -webkit-box;
		  display: -ms-flexbox; /* ie 10 */
		  display:-webkit-flex;
		  display: flex;
		  &_j{
		    &-c{
		      -webkit-justify-content: center;
		      -moz-justify-content: center;
		      -ms-justify-content: center;
		      -o-justify-content: center;
		      -webkit-box-pack: center;
		      -ms-flex-pack: center;
		      justify-content: center;
		    }
		    &-fe{
		      -webkit-justify-content: flex-end;
		      -moz-justify-content: flex-end;
		      -ms-justify-content: flex-end;
		      -o-justify-content: flex-end;
		      -webkit-box-pack: flex-end;
		      -ms-flex-pack: flex-end;
		      justify-content: flex-end;
		    }
		    &-fs{
		      -webkit-justify-content: flex-start;
		      -moz-justify-content: flex-start;
		      -ms-justify-content: flex-start;
		      -o-justify-content: flex-start;
		      -webkit-box-pack: flex-start;
		      -ms-flex-pack: flex-start;
		      justify-content: flex-start;
		    }
		    &-sb{
		      -webkit-justify-content: space-between;
		      -moz-justify-content: space-between;
		      -ms-justify-content: space-between;
		      -o-justify-content: space-between;
		      -webkit-box-pack: space-between;
		      -ms-flex-pack: justify; /* ie 10 */
		      justify-content: space-between;
		    }
		  }
		  &_ai{
		    &-c{
		      -webkit-align-items: center;
		      -moz-align-items: center;
		      -ms-align-items: center;
		      -o-align-items: center;
		      -webkit-box-align: center;
		      -ms-flex-align:center; /* ie 10 */
		      align-items: center;
		    }
		    &-fs{
		      -webkit-align-items: flex-start;
		      -moz-align-items: flex-start;
		      -ms-align-items: flex-start;
		      -o-align-items: flex-start;
		      -webkit-box-align: flex-start;
		      -ms-flex-align:flex-start; /* ie 10 */
		      align-items: flex-start;
		    }
		    &-fe{
		      -webkit-align-items: flex-end;
		      -moz-align-items: flex-end;
		      -ms-align-items: flex-end;
		      -o-align-items: flex-end;
		      -webkit-box-align: flex-end;
		      -ms-flex-align:flex-end; /* ie 10 */
		      align-items: flex-end;
		    }
		    &-st{
		      -webkit-align-items: stretch;
		      -moz-align-items: stretch;
		      -ms-align-items: stretch;
		      -o-align-items: stretch;
		      -webkit-box-align: stretch;
		      -ms-flex-align:stretch;
		      align-items: stretch;
		    }
		  }
		  &_dir{
		    &-col{
		      -webkit-flex-direction: column;
		      -moz-flex-direction: column;
		      -ms-flex-direction: column;
		      -o-flex-direction: column;
		      -webkit-box-orient: vertical; /*ie10*/
		      flex-direction: column;
		    }
		    &-colrev{
		      -webkit-flex-direction: column-reverse;
		      -moz-flex-direction: column-reverse;
		      -ms-flex-direction: column-reverse;
		      -o-flex-direction: column-reverse;
		      -webkit-box-orient: vertical; /*ie10*/
		      -webkit-box-direction: reverse;
		      flex-direction: column-reverse;
		    }
		  }
		}
	}
	.info-block{
		&_right{
			&-top{
				&-left {
					margin-right: 20px;
				}
			}
			&-bottom{
				&-left{
					width: 119px;
					margin-right: 20px;
				}
				&-right{
					width: 119px;
				}
			}
		}
	}
	.main-content{
		padding: 0 15px;
	}
	.main-header {
    padding: 0 15px;
	}
	.single-tour{
		&_img{
	    width: 100%;
	    height: 200px;
	    &-bg{
	    	top:0;
	    	bottom: 0;
	    }
	    &-badge{
	    	top: 0;
	    }
		}
		&_text-container{
			position: relative;
			width: auto;
			border-right:none;
			padding-left: 0;
			padding-right: 0;

			.price-container_rating{
				display: block;
			}
		}
		&_price-container{
			.price-container_rating{
				display: none;
			}
		}
	}
	.text-container{
		padding-top: 20px;
		padding-bottom: 20px;
		&_title{
			text-align: center;
			padding-right: 70px;
		}
		&_subtitle{
			text-align: center;
			padding-right: 70px;
		}
		&_info-block{
			max-width: 379px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.main-content{
		margin-top: 30px;
	}
	.main-footer{
		&_block{
			&-1{
				width: 50%;

			-webkit-align-self: center;
			-moz-align-self: center;
			-ms-align-self: center;
			-o-align-self: center;
			align-self: center;
			}
			&-2{
				width: auto;
				padding-left: 0;
			}
			&-3{
				width: auto;
			}
			&-4{
				width: auto;
			}
		}
	}
	.price-container{
		&_price{
			-webkit-align-self: center;
			-moz-align-self: center;
			-ms-align-self: center;
			-o-align-self: center;
			align-self: center;
			margin: 20px 0;
			&-btn{
				-webkit-align-self: center;
				-moz-align-self: center;
				-ms-align-self: center;
				-o-align-self: center;
				align-self: center;
		    width: 100%;
		    max-width: 200px;
			}
		}
		&_rating{
			-webkit-align-self: flex-start;
			-moz-align-self: flex-start;
			-ms-align-self: flex-start;
			-o-align-self: flex-start;
			align-self: flex-start;

			position: absolute;
			top: 20px;
			right: 0;
		}
	}
}

@media screen and (max-width: 400px){
	.operator-block_left{
		img{
			width: 65px;
		}
	}
	.main-container{
		padding-top: 30px;
	}
	.main-content{
		margin-top: 15px;
	}
	.text-container{
		&_info-block{
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			-webkit-box-orient: vertical; /*ie10*/
			flex-direction: column;
		}
	}
	.info-block{
		&_left{
			border-right: none;
		}
		&_right{ 
			padding-left: 0;
		}
	}
}